@font-face {
    font-family: 'Arial';
    src: url(storage/Arial.ttf);
}

body {
    background-color: black;
    color: white;
    font-family: 'Arial';
}

h3 {
    text-align: center;
}

.title-container {
    width: 100%;
}

div img {
    display: block;
    margin: auto;
    margin-top: 100;
    margin-bottom: 100;
}

a {
    text-decoration: none;
}

button {
    height: 100px;
    width: 200px;
    border-radius: 5px;
    background-color: green;
    border-color: darkgreen;
}

button h3 {
    font-size: 30px;
    color: white;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: white;
}