@font-face {
    font-family: 'Arial';
    src: url(storage/Arial.ttf);
}

body {
    background-color: black;
    color: white;
    font-family: 'Arial';
}

h3 {
    text-align: center;
}

.title-container {
}

.title-container img {
    display: block;
    margin: auto;
    margin-top: 100;
    margin-bottom: 100;
}

.download {
    text-decoration: none;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    color: white;
}

.downloads {
    display: flex;
    flex-direction: row;
}

.downloads a img {
    height: 160px;
    width: 160px;
    margin-left: 24px;
    margin-right: 24px;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: white;
}

.playnow {
    
}

button {
    display: block;
    margin: auto;
    width: 200px;
    height: 100px;
    background-color: green;
    border-radius: 5px;
    border-color: darkgreen;
    font-size: 30px;
    font-weight: bolder;
}

p {
    color: white;
}